.chart-head{
  display: flex;
  h3{
    margin-right: 40px;
  }
  .chart-head-two{
    display: flex;
    input {
      margin-left: 5px;
    }
  }
}
.chart-head-name {
  nz-form-item {
    width: 200px;
  }
  margin-bottom: 10px;
}
.btns{
  text-align: right;
  button{
    margin: 0 8px;
  }
}
.options-header{
  margin-bottom: 10px;
  button {
    margin: 0 8px;
  }
}
.button-chart{
  display: flex;
  flex-direction: column;
  height: 100%;
  button{
    min-width: 30px;
    height: 30px;
    padding: 0px 5px;
  }
  app-chart-dashboard{
    flex: 1;
    height: 100%;
  }
}



