<div>
  <div nz-form nzLayout="inline" [formGroup]="searchForm">
    <button nz-button nzType="primary" (click)="refresh.emit()">刷新</button>
    <nz-form-item>
      <nz-form-label [nzSpan]="8">状态</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select formControlName="status" nzAllowClear nzSize="small" style="width: 100px;">
          <nz-option nzValue="firing" nzLabel="firing"></nz-option>
          <nz-option nzValue="resolved" nzLabel="resolved"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6">开始时间</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-date-picker
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          formControlName="startTime"
          nzPlaceHolder="开始时间"
          (ngModelChange)="startOnChange($event)"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6">结束时间</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-date-picker
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          formControlName="stopTime"
          nzPlaceHolder="结束时间"
          (ngModelChange)="startOnChange($event)"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item >
  </div>

<!--  <nz-collapse style="margin: 10px 0px;" [ngStyle]="{'background-color': stateBackground === 0 ? '#fff2f0' : stateBackground === 1 ? '#f6ffed' : '#fffbe6'}">-->
  <nz-collapse style="margin: 10px 0px;" [style.background-color]="backgroundColor">
    <nz-collapse-panel [nzHeader]="stateTitle">
      <div>
        <nz-table
          #stateTable
          [nzFrontPagination]="false"
          [nzData]="stateData"
          [nzScroll]="{ x: '1300px', y: '500px' }"
        >
          <thead>
          <tr>
            <th nzLeft nzWidth="100px">status</th>
            <th>labels</th>
            <th nzWidth="170px">fingerprint</th>
            <th nzWidth="170px">创建时间</th>
            <th nzWidth="170px">更新时间</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let data of stateTable.data">
            <tr [ngStyle]="{'background-color': data.status === 'firing' ? '#fff2f0' : '#f6ffed'}">
             <td>
                <nz-alert [nzType]="data.status === 'firing' ? 'error' : 'success'" [nzMessage]="data.status"></nz-alert>
              </td>
              <td >
                <nz-tag class="tag-style" [nzColor]="'blue'" *ngFor="let label of data.labels">{{label}}</nz-tag>
              </td>
              <td>{{ data.fingerprint }}</td>
              <td>{{ data.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>{{ data.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
  </nz-collapse>

  <div>
    <nz-table
        #rowSelectionTable
        nzShowPagination
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="ruleData"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzScroll]="{ x: '1500px', y: '500px' }"
        [nzLoading]="isLoadingResults"
    >
      <thead>
      <tr>
<!--        展开的列-->
<!--        <th nzLeft nzWidth="50px"></th>-->
        <th nzLeft nzWidth="100px">status</th>
        <th>labels</th>
        <th >annotations</th>
        <th nzWidth="170px">fingerprint</th>
        <th nzWidth="170px">创建时间</th>
        <th nzWidth="170px">更新时间</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data">
         <tr [ngStyle]="{'background-color': data.status === 'firing' ? '#fff2f0' : '#f6ffed'}">
<!--          <td nzLeft [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>-->
          <td>
            <nz-alert [nzType]="data.status === 'firing' ? 'error' : 'success'" [nzMessage]="data.status"></nz-alert>
          </td>
          <td >
            <nz-tag class="tag-style" [nzColor]="'blue'" *ngFor="let label of data.labels">{{label}}</nz-tag>
          </td>
          <td>
            <nz-tag class="tag-style" *ngFor="let label of data.annotations">{{label}}</nz-tag>
          </td>
          <td>{{ data.fingerprint }}</td>
          <td>{{ data.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ data.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
<!--        是否可展开的内容-->
<!--        <tr [nzExpand]="expandSet.has(data.id)">-->
<!--          <nz-tag class="tag-style" [nzColor]="'blue'" *ngFor="let label of data.labels">{{label}}</nz-tag>-->
<!--        </tr>-->
      </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
