button,a {
  margin-right: 16px;
}
.tag-style{
  margin-bottom: 3px;
  border-radius: 5px;
  text-align: center;
}
::ng-deep .ant-alert.ant-alert-no-icon{
  padding: 0px 3px;
  text-align: center;
  border-radius: 5px;
}
