<div class="charts-list">
  <div style="text-align: center;">{{chartDataID.name}}</div>
  <div class="chart-item" [id]="'echartId' + index" echarts [options]="optionsEcharts[index]" [merge]="echartsMerge" (chartInit)="onChartInit($event)"></div>
  <div class="content-echarts">
    <div class="content-echarts-text" (click)="showCurrentSeries(item, i)" (mouseleave)="unhighlightCurrentSeries(item, i)"
         (mouseenter)="highlightCurrentSeries(item, i)" *ngFor="let item of optionSeries[index] || []; index as i">
      <div class="circular" [ngStyle]="{'background-color': item.itemStyle.normal.color}"></div>
      <span>{{item.name}}</span>
    </div>
  </div>
</div>
