<div nz-form nzLayout="inline" [formGroup]="searchForm">
  <button nz-button nzType="primary" (click)="showCreateDialog()">新增</button>
  <button nz-button nzType="primary" nzDanger>删除</button>
  <button nz-button nzType="primary" (click)="refresh.emit()">刷新</button>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzNoColon>名字</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input formControlName="name" placeholder="名字" nzSize="small">
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="10" nzNoColon>所属应用</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="appId" [nzAutocomplete]="auto" class="app-auto" nzSize="small">
      <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let option of filteredApps | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="10" nzNoColon>所属集群</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="replicaSetId" [nzAutocomplete]="replicaSetIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #replicaSetIdAuto>
        <nz-auto-option *ngFor="let option of filteredReplicaSets | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="10" nzNoColon>所在机器</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="hostId" [nzAutocomplete]="hostIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #hostIdAuto>
        <nz-auto-option *ngFor="let option of filteredHosts | async" [nzValue]="option.id" [nzLabel]="option.hostName">{{option.hostName}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item >
</div>

<div>
  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzFrontPagination]="false"
    (nzCurrentPageDataChange)="onCurrentPageDataChange()"
    [nzData]="data"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzScroll]="{ x: '1600px' }"
    [nzLoading]="isLoadingResults"
  >
    <thead>
    <tr>
      <th nzLeft nzWidth="30px" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th nzLeft nzWidth="50px">ID</th>
      <th nzLeft nzWidth="180px">名字</th>
      <th >所属副本集ID</th>
      <th nzWidth="180px">所属副本集名</th>
      <th>所属机器ID</th>
      <th nzWidth="180px">所属机器名</th>
      <th>所属应用ID</th>
      <th>所属应用名</th>
      <th nzWidth="200px">创建时间</th>
      <th nzWidth="200px">更新时间</th>
      <th nzRight nzWidth="80px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td nzLeft
          [nzChecked]="setOfCheckedId.has(data.id)"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td nzLeft>{{ data.id }}</td>
      <td nzLeft>{{ data.name }}</td>
      <td>{{ data.replicaSetId}}</td>
      <td>{{ data.replicaSetName }}</td>
      <td>{{ data.hostId }}</td>
      <td>{{ data.hostName }}</td>
      <td>{{ data.appId }}</td>
      <td>{{ data.appName }}</td>
      <td>{{ data.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ data.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzRight>
        <button nz-button nzType="text" (click)="showEditDialog(data)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
