<div>
  <h3>{{mode === 'edit' ? '修改规则' : '创建规则'}}</h3>
</div>

<!--<div>{{data.chartId ? '监控表' : '规则管理的'}}</div>-->

<div class="rule-head" nz-form nzLayout="inline" [formGroup]="editForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="8">名字</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input placeholder="名字" formControlName="name" nzSize="small"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">显示名</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input placeholder="显示名" formControlName="displayName" nzSize="small"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">操作符</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <nz-select formControlName="operation" nzSize="small" [nzDisabled]="editForm.get('mode').value === 'proxy'" [nzShowArrow]="editForm.get('mode').value === 'proxy' ? false : true">
        <nz-option *ngFor="let option of filteredOperation" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">操作数</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input placeholder="操作数" formControlName="operand" [readOnly]="editForm.get('mode').value === 'proxy'" nzSize="small"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">chartId</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <nz-select formControlName="chartId" nzSize="small" [nzDisabled]="data.chartId || editForm.get('mode').value === 'proxy'" [nzShowArrow]="data.chartId || editForm.get('mode').value === 'proxy' ? '' : 'true'">
        <nz-option *ngFor="let option of chartData" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">模式</nz-form-label>
    <nz-form-control [nzSpan]="16">
<!--      新增规则的时候从规则管理进入可选(无name值) 图表进入不能选 都不能修改(有chartId或者name)不能选-->
      <nz-select formControlName="mode" nzSize="small" [nzDisabled]="data.chartId || data.name" [nzShowArrow]="data.chartId || data.name ? false : true">
        <nz-option nzValue="normal" nzLabel="normal"></nz-option>
        <nz-option nzValue="proxy" nzLabel="proxy"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>
<div nz-form [formGroup]="editForm">
  <nz-form-item>
    <nz-form-label>摘要</nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="摘要" nzAutosize formControlName="summary" nzSize="small"></textarea>
    </nz-form-control>
  </nz-form-item>
</div>
<div nz-form [formGroup]="editForm">
  <nz-form-item>
    <nz-form-label>描述</nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="描述" nzAutosize formControlName="description" nzSize="small"></textarea>
    </nz-form-control>
  </nz-form-item>
</div>
<div nz-form [formGroup]="editForm" nzLayout="inline">
  <nz-form-item>
    <nz-form-label>报警方式</nz-form-label>
    <nz-form-control>
<!--      <nz-checkbox-group [(ngModel)]="vias" (ngModelChange)="viaChange($event)"></nz-checkbox-group>-->
      <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="viaChange($event)">
        <div nz-row>
          <div nz-col ><label nz-checkbox nzValue="dingtalk" formControlName="dingtalk">dingtalk</label></div>
          <div nz-col ><label nz-checkbox nzValue="email" formControlName="email">email</label></div>
        </div>
      </nz-checkbox-wrapper>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>严重级别</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="severity" nzAllowClear nzSize="small" style="width: 120px;">
        <nz-option nzValue="warning" nzLabel="warning"></nz-option>
        <nz-option nzValue="critical" nzLabel="critical"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>
<div nz-form [formGroup]="editForm">
  <nz-form-item>
    <nz-form-label>接收人</nz-form-label>
    <nz-form-control>
      <nz-select #selectTags
        nzMode="tags"
        nzPlaceHolder="Please select"
        formControlName="targets"
        nzShowSearch
        nzServerSearch
        (nzOnSearch)="onSearch($event)"
      >
        <ng-container *ngFor="let option of optionList">
          <nz-option *ngIf="!isLoading" [nzValue]="option" [nzLabel]="option"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>
<div class="btns">
  <button nz-button (click)="onClose()">返回</button>
  <button nz-button (click)="onSubmit()" [disabled]="!editForm.valid">确定</button>
</div>
