<nz-layout class="app-layout" *ngIf="isPc">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="180px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null" nzTheme="light">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>cmdb</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngFor="let menu of sectionItem">
      <li nz-menu-item [nzMatchRouter]="section + '/' +menu.id">
        <a [routerLink]="section + '/' + menu.id">{{menu.name}}</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-head">
      <div style="display: flex">
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>
        </div>
        <ul nz-menu nzMode="horizontal" *ngFor="let item of sections">
          <li nz-menu-item [nzMatchRouter]="item.id">
            <a [routerLink]="item.id">{{item.name}}</a>
          </li>
        </ul>
      </div>
      <a class="app-header-right" href="/">
        <img class="docs-angular-logo" src="../assets/img/face.png" alt="Shane Xu">
        Shane Xu
      </a>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<div *ngIf="!isPc">
  <app-mobile [ispc]="isPc"></app-mobile>
</div>
