.btns{
  text-align: right;
  button{
    margin: 0 8px;
  }
}
  .pre-scroll{
    overflow-y: scroll;
    height: 40vh;
    margin-bottom: 20px;
  }

.run-content{
  height: 30vh;
  margin-bottom: 20px;
  //overflow-y: scroll;
}
