.btns{
  text-align: right;
  button{
    margin: 0 8px;
  }
}
.run-spin{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
