<form nz-form [formGroup]="editForm" class="ant-advanced-search-form" *ngIf="!isReadOnly; else elseTitle">
  <div class="chart-head">
    <h3>{{id ? '修改图表' : '创建图表'}}</h3>
    <h3 class="chart-head-two">
      <span>ID</span>
      <input nz-input placeholder="ID" readonly formControlName="id" nzSize="small"/>
    </h3>
  </div>
  <div class="chart-head-name" nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzNoColon>名字</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input placeholder="名字" formControlName="name" nzSize="small"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzNoColon>显示名</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input placeholder="显示名" formControlName="displayName" nzSize="small"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [formGroup]="referenceIdFormGroup">
      <nz-form-label [nzSpan]="8" nzNoColon>所属应用</nz-form-label>
      <input nz-input formControlName="appId" [nzAutocomplete]="appIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #appIdAuto>
        <nz-auto-option *ngFor="let option of filteredApps | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-item>
    <nz-form-item [formGroup]="referenceIdFormGroup">
      <nz-form-label [nzSpan]="10" nzNoColon>所属副本集</nz-form-label>
      <input nz-input formControlName="replicaSetId" [nzAutocomplete]="replicaSetIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #replicaSetIdAuto>
        <nz-auto-option *ngFor="let option of filteredReplicaSets | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-item>
    <nz-form-item [formGroup]="referenceIdFormGroup">
      <nz-form-label [nzSpan]="8" nzNoColon>所属实例</nz-form-label>
      <input nz-input formControlName="instanceId" [nzAutocomplete]="instanceIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #instanceIdAuto>
        <nz-auto-option *ngFor="let option of filteredInstances | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-item>
  </div>
  <div>
    <nz-form-item style="margin-bottom: 5px;">
      <nz-form-label nzNoColon>备注</nz-form-label>
      <nz-form-control>
        <textarea nz-input placeholder="备注" nzAutosize formControlName="comment"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div style="display: flex; align-items: center">
    <nz-radio-group formGroupName="config" formControlName="radio" (ngModelChange)="statusChange(editForm.get('radio').value)">
      <label nz-radio [nzValue]="item" formControlName="{{item}}" *ngFor="let item of seasons">{{item}}</label>
<!--      <label nz-radio nzValue="bars" formControlName="bars" (ngModelChage)="statusChange('bars')">bars</label>-->
<!--      <label nz-radio nzValue="lines" formControlName="lines" (ngModelChage)="statusChange('lines')">lines</label>-->
<!--      <label nz-radio nzValue="points" formControlName="points" >points</label>-->
      <label nz-checkbox formControlName="stack" (ngModelChange)="stackChange()">stack</label>
    </nz-radio-group>
    <div formGroupName="config" style="margin-left: 20px;">
      <nz-select formControlName="type" nzPlaceHolder="Choose" nzSize="small">
        <nz-option nzValue="echarts" nzLabel="echarts"></nz-option>
        <nz-option nzValue="value" nzLabel="value"></nz-option>
        <nz-option nzValue="text" nzLabel="text"></nz-option>
        <nz-option nzValue="markdown" nzLabel="markdown"></nz-option>
      </nz-select>
    </div>
  </div>
</form>
<ng-template #elseTitle>
  <div class="read-only-title">
    <span nz-tooltip [nzTooltipTitle]="editForm.get('comment').value" class="read-title">
      ID: <span>{{editForm.get('id').value}}</span>
      名字: <span >{{editForm.get('name').value}}</span>
      显示名: <span >{{editForm.get('displayName').value}}</span>
    </span>
  </div>
</ng-template>

<div style="display: flex;align-items: center">
  <div>
    <nz-select [formControl]="stepTime">
      <nz-option *ngFor="let option of stepTimes" [nzValue]="option" [nzLabel]="option"></nz-option>
    </nz-select>
  </div>
  <div class="select-date">
    <i class="select-date-icon" (click)="timeChange(-1)" nz-icon nzType="backward" nzTheme="outline"></i>
    <nz-date-picker
      nzShowTime
      nzFormat="yyyy-MM-dd HH:mm:ss"
      [formControl]="startTime"
      nzPlaceHolder="请选择时间"
      (nzOnOk)="handleStartOpenChange($event)"
    ></nz-date-picker>
    <i class="select-date-icon" (click)="timeChange(1)" nz-icon nzType="forward" nzTheme="outline"></i>
  </div>
  <div>
    <input style="width: 80px;margin-right: 20px;" nz-input type="number" [formControl]="step"/>
  </div>
  <button nz-button (click)="refresh.emit()" [disabled]="!startTime.valid">刷新</button>
</div>
<form [formGroup]="editForm" *ngIf="!isReadOnly">
  <div class="code-box">
    <textarea nz-input formControlName="query" rows="1"></textarea>
<!--    <ngx-codemirror formControlName="query" [options]="options"></ngx-codemirror>-->
<!--    <nz-code-editor style="height: 22px;" formControlName="query" [nzEditorOption]="{scrollBeyondLastColumn : 1}"></nz-code-editor>-->
  </div>
</form>
<!--<div *ngIf="editForm.get('config').get('type').value==='echarts'">-->
  <div echarts [options]="echartsOption" [merge]="echartsMerge" class="demo-chart" (chartInit)="onChartInit($event)"></div>
  <div class="content-echarts">
    <div class="content-echarts-text" (click)="showCurrentSeries(item, i)" (mouseleave)="unhighlightCurrentSeries(item, i)" (mouseenter)="highlightCurrentSeries(item, i)" *ngFor="let item of echartsOption.series || []; index as i">
      <div class="circular" [ngStyle]="{'background-color': item.itemStyle.normal.color}"></div>
      <span>{{item.name}}</span>
    </div>
  </div>

<div style="width: 100%; height: 400px">
<!--  线性图-->
  <ngx-charts-line-chart *ngIf="chartType === 'lines' && !editForm.get('config').get('stack').value"
    [scheme]="colorScheme"
    legend="true"
    legendPosition
    showXAxisLabel="true"
    showYAxisLabel="true"
    xAxis="true"
    yAxis="true"
    autoScale="true"
    timeline="true"
    [results]="multi"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
    <ng-template #seriesTooltipTemplate let-items="model">
      <p style="font-size:20px;margin:1px 0 0 0;">{{ items[0].name | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <ul style="text-align:left; list-style: none; padding-left: 10px">
        <li *ngFor="let item of items; let i = index">
          <div class="series-tooltip-template" [style.backgroundColor]="item.color"></div>
          [{{item.name | date: 'yyyy-MM-dd HH:mm:ss'}}] {{item.value}}
          <br>
        </li>
      </ul>
    </ng-template>
    <ng-template #tooltipTemplate let-item="model">
      <p style="margin:1px 0 0 0;">{{item.series}}</p>
      <ul style="list-style: none">
        <li>{{item.name}}: {{item.value}}</li>
      </ul>
    </ng-template>
  </ngx-charts-line-chart>
<!-- 线性推叠图-->
  <ngx-charts-area-chart-stacked *ngIf="chartType === 'lines' && editForm.get('config').get('stack').value"
    [scheme]="colorScheme"
    legend="true"
    legendPosition
    autoScale="true"
    showXAxisLabel="true"
    showYAxisLabel="true"
    xAxis="true"
    yAxis="true"
    timeline="true"
    [results]="multi"
    (select)="onSelect($event)">
    <ng-template #seriesTooltipTemplate let-items="model">
      <p style="font-size:20px;margin:1px 0 0 0;">{{ items[0].name | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <ul style="text-align:left; list-style: none; padding-left: 10px">
        <li *ngFor="let item of items; let i = index">
          <div class="series-tooltip-template" [style.backgroundColor]="item.color"></div>
          [{{item.name | date: 'yyyy-MM-dd HH:mm:ss'}}] {{item.value}}
          <br>
        </li>
      </ul>
    </ng-template>
    <ng-template #tooltipTemplate let-item="model">
      <p style="margin:1px 0 0 0;">{{item.series}}</p>
      <ul style="list-style: none">
        <li>{{item.name}}: {{item.value}}</li>
      </ul>
    </ng-template>
  </ngx-charts-area-chart-stacked>
<!-- 散点图 y轴的值有重复的 是根据每条数据生成的y轴值？？-->
  <ngx-charts-bubble-chart *ngIf="chartType === 'points' && !editForm.get('config').get('stack').value"
    [scheme]="colorScheme"
    [results]="bubbleData"
    xAxis="true"
    legendPosition
    yAxis="true"
    legend="true"
    showXAxisLabel="true"
    showYAxisLabel="true"
    autoScale="true"
    maxRadius="4"
    minRadius="4"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
    <ng-template #tooltipTemplate let-item="model">
      <p style="margin:1px 0 0 0;">{{item.series}}</p>
      <ul style="list-style: none">
        <li>{{item.name}}: {{item.value}}</li>
      </ul>
    </ng-template>
  </ngx-charts-bubble-chart>
<!--  柱状图-->
<!--  <ngx-charts-bar-vertical-2d-->
<!--    [scheme]="colorScheme"-->
<!--    [results]="single"-->
<!--    gradient="true"-->
<!--    xAxis="true"-->
<!--    yAxis="true"-->
<!--    legend="true"-->
<!--    showXAxisLabel="true"-->
<!--    legendPosition-->
<!--    showYAxisLabel="true"-->
<!--    (select)="onSelect($event)"-->
<!--    (activate)="onActivate($event)"-->
<!--    (deactivate)="onDeactivate($event)">-->
<!--  </ngx-charts-bar-vertical-2d>-->
  <ngx-charts-bar-vertical-normalized
    [scheme]="colorScheme"
    [results]="single"
    gradient="true"
    xAxis="true"
    yAxis="true"
    legend="true"
    showXAxisLabel="true"
    legendPosition
    showYAxisLabel="true"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical-normalized>
</div>

<!--</div>-->
<!--<div *ngIf="editForm.get('config').get('type').value==='value'" style="margin: 15px 0;">-->
<!--  <h1 style="text-align: center">数值</h1>-->
<!--</div>-->
<!--<div *ngIf="editForm.get('config').get('type').value==='text'" style="margin: 15px 0;">-->
<!--  <textarea nz-input></textarea>-->
<!--</div>-->
<!--<div *ngIf="editForm.get('config').get('type').value==='markdown'" style="margin: 15px 0;">-->
<!--  <nz-code-editor style="height: 200px" [nzEditorOption]="{ language: 'markdown' }"></nz-code-editor>-->
<!--</div>-->
<div *ngIf="!isReadOnly">
  <button nz-button (click)="showCreateDialog()">Add Rule</button>
  <div>
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="ruleData"
      [nzScroll]="{ x: '1100px', y: '500px' }"
    >
      <thead>
      <tr>
        <th nzLeft nzWidth="100px">名字</th>
        <th nzWidth="150px">显示名</th>
        <th >操作符</th>
        <th>操作数</th>
        <th>严重级别</th>
        <th nzWidth="200px">摘要</th>
        <th nzWidth="180px">描述</th>
        <th nzRight nzWidth="80px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzLeft>{{ data.name }}</td>
        <td>{{ data.displayName }}</td>
        <td>{{ getOperation(data.operation) }}</td>
        <td>{{ data.operand }}</td>
        <td>{{ data.severity }}</td>
        <td>{{ data.summary }}</td>
        <td>{{ data.description }}</td>
        <td nzRight>
          <button nz-button nzType="text" (click)="showEditDialog(data)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div class="btns" *ngIf="!isReadOnly">
  <button nz-button (click)="goBackClick()">返回</button>
  <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="!editForm.valid">确定</button>
</div>
