<form nz-form [formGroup]="editForm" class="ant-advanced-search-form">
  <div class="chart-head">
    <h3>{{id ? '修改图表' : '创建图表'}}</h3>
    <h3 class="chart-head-two">
      <span>ID：</span>
      <input nz-input placeholder="ID" readonly formControlName="id" nzSize="small"/>
    </h3>
  </div>
  <div class="chart-head-name" nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label [nzSpan]="8">名字</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input placeholder="名字" formControlName="name" nzSize="small"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8">显示名</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input placeholder="显示名" formControlName="displayName" nzSize="small"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [formGroup]="referenceIdFormGroup">
      <nz-form-label [nzSpan]="8">所属应用</nz-form-label>
      <input nz-input formControlName="appId" [nzAutocomplete]="appIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #appIdAuto>
        <nz-auto-option *ngFor="let option of filteredApps | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-item>
    <nz-form-item [formGroup]="referenceIdFormGroup">
      <nz-form-label [nzSpan]="10">所属副本集</nz-form-label>
      <input nz-input formControlName="replicaSetId" [nzAutocomplete]="replicaSetIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #replicaSetIdAuto>
        <nz-auto-option *ngFor="let option of filteredReplicaSets | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-item>
    <nz-form-item [formGroup]="referenceIdFormGroup">
      <nz-form-label [nzSpan]="8">所属实例</nz-form-label>
      <input nz-input formControlName="instanceId" [nzAutocomplete]="instanceIdAuto" class="app-auto" nzSize="small">
      <nz-autocomplete #instanceIdAuto>
        <nz-auto-option *ngFor="let option of filteredInstances | async" [nzValue]="option.id" [nzLabel]="option.name">{{option.name}}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-item>
  </div>
  <div>
    <nz-form-item style="margin-bottom: 5px;">
      <nz-form-label>备注</nz-form-label>
      <nz-form-control>
        <textarea nz-input placeholder="备注" nzAutosize formControlName="comment"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div style="display: flex; align-items: center">
    <nz-radio-group formGroupName="config" formControlName="radio" (ngModelChange)="statusChange(editForm.get('radio').value)">
      <label nz-radio [nzValue]="item" formControlName="{{item}}" *ngFor="let item of seasons">{{item}}</label>
<!--      <label nz-radio nzValue="bars" formControlName="bars" (ngModelChage)="statusChange('bars')">bars</label>-->
<!--      <label nz-radio nzValue="lines" formControlName="lines" (ngModelChage)="statusChange('lines')">lines</label>-->
<!--      <label nz-radio nzValue="points" formControlName="points" >points</label>-->
      <label nz-checkbox formControlName="stack" (ngModelChange)="stackChange()">stack</label>
    </nz-radio-group>
    <div formGroupName="config" style="margin-left: 20px;">
      <nz-select formControlName="type" nzAllowClear nzPlaceHolder="Choose" nzSize="small">
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        <nz-option nzValue="text" nzLabel="text"></nz-option>
      </nz-select>
    </div>
  </div>
</form>
<div style="display: flex;align-items: center">
  <div>
    <nz-select [formControl]="stepTime">
      <nz-option *ngFor="let option of stepTimes" [nzValue]="option" [nzLabel]="option"></nz-option>
    </nz-select>
  </div>
  <div class="select-date">
    <i class="select-date-icon" (click)="timeChange(-1)" nz-icon nzType="backward" nzTheme="outline"></i>
    <nz-date-picker
      nzShowTime
      nzAllowClear="false"
      nzFormat="yyyy-MM-dd HH:mm:ss"
      [formControl]="startTime"
      nzPlaceHolder="请选择时间"
      (nzOnOk)="handleStartOpenChange($event)"
    ></nz-date-picker>
    <i class="select-date-icon" (click)="timeChange(1)" nz-icon nzType="forward" nzTheme="outline"></i>
  </div>
  <div>
    <input style="width: 80px;margin-right: 20px;" nz-input type="number" [formControl]="step"/>
  </div>
  <button nz-button (click)="refresh.emit()" [disabled]="!startTime.valid || !editForm.valid">刷新</button>
</div>
<form [formGroup]="editForm">
  <div class="code-box">
    <textarea nz-input formControlName="query" rows="1"></textarea>
<!--    <ngx-codemirror formControlName="query" [options]="options"></ngx-codemirror>-->
<!--    <nz-code-editor style="height: 22px;" formControlName="query" [nzEditorOption]="{scrollBeyondLastColumn : 1}"></nz-code-editor>-->
  </div>
</form>
<div echarts [options]="echartsOption" [merge]="echartsMerge" class="demo-chart" (chartInit)="onChartInit($event)"></div>
<div class="content-echarts">
  <div class="content-echarts-text" (click)="showCurrentSeries(item, i)" (mouseleave)="unhighlightCurrentSeries(item, i)" (mouseenter)="highlightCurrentSeries(item, i)" *ngFor="let item of echartsOption.series || []; index as i">
    <div class="circular" [ngStyle]="{'background-color': item.itemStyle.normal.color}"></div>
    <span>{{item.name}}</span>
  </div>
</div>
<div>
  <button nz-button (click)="showCreateDialog()">Add Rule</button>
  <div>
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="ruleData"
      [nzScroll]="{ x: '1100px', y: '500px' }"
    >
      <thead>
      <tr>
        <th nzLeft nzWidth="100px">名字</th>
        <th nzWidth="150px">显示名</th>
        <th >操作符</th>
        <th>操作数</th>
        <th nzWidth="200px">摘要</th>
        <th nzWidth="180px">描述</th>
        <th nzRight nzWidth="80px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzLeft>{{ data.name }}</td>
        <td>{{ data.displayName }}</td>
        <td>{{ getOperation(data.operation) }}</td>
        <td>{{ data.operand }}</td>
        <td>{{ data.summary }}</td>
        <td>{{ data.description }}</td>
        <td nzRight>
          <button nz-button nzType="text" (click)="showEditDialog(data)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div class="btns">
  <button nz-button (click)="goBackClick()">返回</button>
  <button nz-button (click)="onSubmit()" [disabled]="!editForm.valid">确定</button>
</div>
