/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~codemirror/theme/3024-day';
@import '~codemirror/theme/idea';
@import "~ng-zorro-antd/code-editor/style/index.css";

.run-spin{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

